{
  "$schema": "https://opencode.ai/config.json",
  "instructions": [
    "/Users/jan/Development/github/jantoebes/agent-recipes/global.md"
  ],
  "plugin": ["@franlol/opencode-md-table-formatter@0.0.2"],
  "disabled_providers": ["anthropic"],
  "mcp": {
    "google_workspace": {
      "type": "local",
      "command": ["uvx", "workspace-mcp", "--tools", "gmail"],
      "environment": {
        "GOOGLE_OAUTH_CLIENT_ID": "${GOOGLE_OAUTH_CLIENT_ID}",
        "GOOGLE_OAUTH_CLIENT_SECRET": "${GOOGLE_OAUTH_CLIENT_SECRET}",
        "OAUTHLIB_INSECURE_TRANSPORT": "1"
      },
      "enabled": true
    },
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
      "headers": {
        "CONTEXT7_API_KEY": "${CONTEXT7_API_KEY}"
      },
      "enabled": true
    }
  }
}
